@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="page-header">
        <br/>
        <h4><mark>Bem-Vindo ao sistema!</mark></h4>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <h5 align="justify">
                Este sistema tem como objetivo realizar o <b>Cadastro</b>, <b>Listar</b>, <b>Editar</b> e <b>Deletar</b> estabelecimentos, bem como suas categorias.
                <br><br>
                    <p>
                        O menu de <b>Estabelecimentos</b> lista todos os estabelecimentos cadastrados no banco e possui links que redirecionarão para as demais operações, assim como no menu <b>Categorias</b>.
                    </p>
                    <p>Se você já conhece o sistema, espara-se que encontre bons resultados!</p>

                    <p>Para mais informações, dúvidas e sugestões, entre em contato:</p>
                
            </h5>
            <ul>
                <li><h5><b>Desenvolvedora:</b> Amanda Beatriz Augusta da Silva</h5></li>
                <li><h5><b>E-mail:</b> abeatrizaugusta@gmail.com</h5></li>
                <li><h5><b>Linkedin: </b><a href="https://www.linkedin.com/in/amanda-beatriz-268781115/" style="color: black">https://www.linkedin.com/in/amanda-beatriz-268781115/</a></h5></li>
            </ul>


        </div>

    </div>
</div>
   


    
